{% load static %}
<div class="sticky">
	<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
	<div class="app-sidebar">
		<div class="side-header">
			<h3>Square Box</h3>
			<!-- <a class="header-brand1" href="">
				<img src="{{ page_kwargs.media_url }}admin_assets/images/brand/logo.png" class="header-brand-img main-logo" alt="RealEstate">
				<img src="{{ page_kwargs.media_url }}admin_assets/images/brand/logo.png" class="header-brand-img darklogo" alt="RealEstate">
				<img src="{{ page_kwargs.media_url }}admin_assets/images/brand/icon.png" class="header-brand-img icon-logo" alt="RealEstate">
				<img src="{{ page_kwargs.media_url }}admin_assets/images/brand/icon.png" class="header-brand-img icon-logo2" alt="RealEstate">
			</a> -->
		</div>

		<div class="main-sidemenu">
			<!-- Property Management -->
			<ul class="side-menu">
				<li class="sub-category"><h3>Property Management</h3></li>

				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'hot_selling' %} active {% endif %}" href="{% url 'mck_admin_console:mck_dashboard' %}">
						<i class="side-menu__icon bi bi-fire"></i><span class="side-menu__label"> Dashboard</span>
					</a>
				</li>
				
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'hot_selling' %} active {% endif %}" href="{% url 'squarebox:property_type_list' %}">
						<i class="side-menu__icon bi bi-fire"></i><span class="side-menu__label"> Selling</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'property_types' %} active {% endif %}" href="{% url 'squarebox:property_type_list' %}">
						<i class="side-menu__icon bi bi-tags"></i><span class="side-menu__label">Property Types</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'property' %} active {% endif %}" href="{% url 'squarebox:property_list' %}">
						<i class="side-menu__icon bi bi-house"></i><span class="side-menu__label">Properties</span>
					</a>
				</li>
			</ul>

			<!-- Location Management -->
			<!-- <ul class="side-menu">
				<li class="sub-category"><h3>Location Management</h3></li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'state' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-map"></i><span class="side-menu__label">States</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'city' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-geo-alt"></i><span class="side-menu__label">Cities</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'area' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-pin-map"></i><span class="side-menu__label">Areas</span>
					</a>
				</li>
			</ul> -->

			<!-- Agent & Team Management -->
			<!-- <ul class="side-menu">
				<li class="sub-category"><h3>Agent Management</h3></li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'agents' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-person-badge"></i><span class="side-menu__label">Agents</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'teams' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-people"></i><span class="side-menu__label">Teams</span>
					</a>
				</li>
			</ul> -->

			<!-- Leads & Testimonials -->
			<ul class="side-menu">
				<li class="sub-category"><h3>Leads & Feedback</h3></li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'enquiry' %} active {% endif %}" href="{% url 'squarebox:lead_list' %}">
						<i class="side-menu__icon bi bi-envelope-open"></i><span class="side-menu__label">Enquiries</span>
					</a>
				</li>
				<!-- <li class="slide">
					<a class="side-menu__item has-link {% if page == 'testimonials' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-chat-quote"></i><span class="side-menu__label">Testimonials</span>
					</a>
				</li> -->
			</ul>

			<!-- Resource Management -->
			<ul class="side-menu">
				<li class="sub-category"><h3>Media & Resources</h3></li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'resource_category' %} active {% endif %}" href="{% url 'squarebox:property_image_list' %}">
						<i class="side-menu__icon bi bi-folder2-open"></i><span class="side-menu__label">Images</span>
					</a>
				</li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'resource' %} active {% endif %}" href="{% url 'squarebox:maintenance_list' %}">
						<i class="side-menu__icon bi bi-collection-play"></i><span class="side-menu__label">Maintenance</span>
					</a>
				</li>
			</ul>

			<!-- Settings -->
			<ul class="side-menu">
				<li class="sub-category"><h3>Settings</h3></li>
				<li class="slide">
					<a class="side-menu__item has-link {% if page == 'site_settings' %} active {% endif %}" href="">
						<i class="side-menu__icon bi bi-gear"></i><span class="side-menu__label">Site Settings</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
