<!-- .main-content -->
        <div class="main-content ">

            <!-- .Categories -->
            <section class="tf-spacing-1 section-categories pb-0">
                <div class="tf-container">
                    <div class="heading-section text-center mb-48">
                        <h2 class="title split-text effect-right">Try Searching For</h2>
                        <p class="text-1 split-text split-lines-transform">Thousands of luxury home enthusiasts just
                            like you have found their
                            dream home
                        </p>
                    </div>
                    <div class="wrap-categories-sw">
                        <div class="swiper sw-layout style-pagination" data-preview="6" data-tablet="4"
                            data-mobile-sm="3" data-mobile="2" data-space="15" data-space-md="30" data-space-lg="30">
                            <div class="swiper-wrapper">
                                <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Apartment" class="categories-item">
                                    <div class="icon-box">
                                        <i class="icon icon-apartment1"></i>
                                    </div>
                                    <div class="content text-center">
                                        <h5>Apartment</h5>
                                        <p class="mt-4 text-1">234 Property</p>
                                    </div>
                                </a>

                                <div class="swiper-slide">
                                    <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Villa" class="categories-item">
                                        <div class="icon-box">
                                            <i class="icon icon-villa">
                                            </i>
                                        </div>
                                        <div class="content text-center">
                                            <h5>Villa</h5>
                                            <p class="mt-4 text-1">234 Property</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Ploat" class="categories-item ">
                                        <div class="icon-box">
                                            <i class="icon icon-studio">
                                            </i>
                                        </div>
                                        <div class="content text-center">
                                            <h5>Ploat</h5>
                                            <p class="mt-4 text-1">234 Property</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Office" class="categories-item">
                                        <div class="icon-box">
                                            <i class="icon icon-office1">
                                            </i>
                                        </div>
                                        <div class="content text-center">
                                            <h5>Office</h5>
                                            <p class="mt-4 text-1">234 Property</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Townhouse" class="categories-item">
                                        <div class="icon-box">
                                            <i class="icon icon-townhouse">
                                            </i>
                                        </div>
                                        <div class="content text-center">
                                            <h5>Townhouse</h5>
                                            <p class="mt-4 text-1">234 Property</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="{% url 'vlr_website:property_enquiry_page' %}?property_type=Commercial" class="categories-item">
                                        <div class="icon-box">
                                            <i class="icon icon-commercial">
                                            </i>
                                        </div>
                                        <div class="content text-center">
                                            <h5>Commercial</h5>
                                            <p class="mt-4 text-1">234 Property</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="sw-pagination sw-pagination-layout text-center d-lg-none d-block mt-20"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.Categories -->
