{% extends 'website_layout.html' %} {% block content %}
<main class="main">
    <section class="section bg-gradient-custom">
        <div class="container">
            <div class="mt-65 mb-100">
                <div class="row align-items-end">
                    <div class="col-lg-6 mb-20"><span
                            class="title-line text-green wow animate__animated animate__fadeInUp"
                            data-wow-delay=".0s">Contact Us</span>
                        <h2 class="color-brand-1 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                            We’d love to hear from you.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "includes/get_in_touch.html" %}
</main>
{% endblock %}