{% extends 'layouts/admin_layout.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- PAGE HEADER -->
<div class="page-header d-sm-flex d-block">
    <ol class="breadcrumb mb-sm-0 mb-3">
        <li class="breadcrumb-item active" aria-current="page">Real Estate Admin Dashboard</li>
    </ol>
</div>
<!-- END PAGE HEADER -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <!-- Row 1 -->
                <div class="row">
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ property.count|default:"0" }}</h3>
                            <span>Properties</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ property_type.count|default:"0" }}</h3>
                            <span>Property Type</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ property_images.count|default:"0" }}</h3>
                            <span>Property Images</span>
                        </a>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="row mt-4">
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ lead.count|default:"0" }}</h3>
                            <span>Lead</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ maintenance.count|default:"0" }}</h3>
                            <span>maintenance</span>
                        </a>
                    </div>
                    <!-- <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ property_types.count|default:"0" }}</h3>
                            <span>Property Types</span>
                        </a>
                    </div> -->
                </div>

                <!-- Row 3 -->
                <div class="row mt-4">
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ testimonials.count|default:"0" }}</h3>
                            <span>Testimonials</span>
                        </a>
                    </div>
                    <!-- <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ teams.count|default:"0" }}</h3>
                            <span>Team Members</span>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#" class="card p-4 text-decoration-none text-dark">
                            <h3>{{ resources.count|default:"0" }}</h3>
                            <span>Resources</span>
                        </a>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
